{% extends 'core/base.html'%}
{% load static %}

{% block title %}
    Education
{% endblock %}

{% block content %}
<div>
    <div class="my-4">

        <h2 style="font-weight: bold;">University of The Western Cape</h2>
        <h4 style="font-weight: lighter;">Bachelor of Science Honours Computer Science</h4>
        <p><i style="font-style: italic;">February 2019 - March 2020</i></p>
    </div>
    <div>
        <h4 style="font-weight: lighter;">Bachelor of Science Computer Science</h4>
        <p><i style="font-style: italic;">February 2015 - March 2019</i></p>
    </div>
    <div class="my-4">
        <h2 style="font-weight: bold;">Khanyolwethu Secondary High School</h2>
        <h4 style="font-weight: lighter;">Matric Certificate</h4>
        <p><i style="font-style: italic;">January 2010 - December 2014</i></p>
    </div>
</div>


{% endblock %}