{% extends 'core/base.html'%}
{% load static %}

{% block title %}
    Experience
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="my-4">
        <h2 style="font-weight: bold; margin-bottom: 1rem; text-align: center;">The Building Company (November 2019 - Current)</h2>
        <img src="{% static 'TBC.jpg' %}" alt="Zukisa Dyantyi" style="max-height: 300px; width: 500px; margin-bottom: 1rem; object-fit: contain; border-radius: 50%; margin-left: 105px;" />
        <h4 style="font-weight: lighter; margin-bottom: 1rem; text-align: center;">Data/System Administrator</h4>
        <h2 style="font-weight: bold; margin-bottom: 1rem; text-align: center;">Responsibilities</h2>
        <ul class="list-style-type-disc padding-left-20" style="text-align: center;">
            <li>Ensuring ETL processes are up and running daily.</li>
            <li>Performing SQL Server backups and restores.</li>
            <li>Writing SQL Scripts.</li>
            <li>Ensuring backups take place.</li>
            <li>Installing and configuring SQL Server.</li>
            <li>Analyzing ETL process failures, data anomalies, and data warehouse issues.</li>
            <li>Maintaining reports on BI tools (Analytic plus and Qlik Sense).</li>
            <li>Building Analytic plus dashboards to visualize department performance on daily tasks.</li>
            <li>Conducting complex data analysis and reporting on results.</li>
            <li>Ensuring systems are up and running daily (Ticketing system and Finance Workflows built on SharePoint).</li>
            <li>SharePoint Administrator</li>
            <li>Develop Power Automate workflow based on Business requirements</li>
        </ul>
    </div>
    <div class="my-4">
        <h2 style="font-weight: bold; margin-bottom: 1rem; text-align: center;">University of The Western Cape (February 2019 - November 2019)</h2>
        <img src="{% static 'UWC.jpg' %}" alt="Zukisa Dyantyi" style="max-height: 300px; width: 500px; margin-bottom: 1rem; object-fit: contain; border-radius: 50%; margin-left: auto;" />
        <h4 style="font-weight: lighter; margin-bottom: 1rem; text-align: center;">3rd Year Computer Science (Databases/Machine Learning)</h4>
        <h2 style="font-weight: bold; margin-bottom: 1rem; text-align: center;">Responsibilities</h2>
        <ul class="list-style-type-disc padding-left-20" style="text-align: center;">
            <li>Assisting students with practicals.</li>
            <li>Conducting tutoring sessions.</li>
            <li>Assisting lecturers with marking and other admin duties.</li>
        </ul>
    </div>
</div>
{% endblock %}
