{% extends 'core/base.html'%}
{% load static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<div style="display: flex; align-items: flex-start;">
    <img src="{% static 'zuk11.jpg' %}" alt="Zukisa Dyantyi" style="max-height: 300px; width: 500px; margin-right: 20px;" />
    <p>
        <i>
            <i>
                I am a hardworking and goal-driven person who embraces change.
                I enjoy solving problems and working on different projects because it gives me an opportunity to learn new skills and collaborate with diverse teams. I have basic experience in various programming languages (C, Python, SQL, Java, JavaScript, HTML, CSS, and Assembly), tools (Raspbian, Visual Studio, Eclipse, and NetBeans), and Business Intelligence tools (Power BI and Qlik Sense).
                I have worked on projects related to Big Data, Internet of Things, <a href="https://cs.uwc.ac.za/honours/2019/zdyantyi/" class="text-purple-400">Cyber Security</a>, and Machine Learning.
            </i>
        </i>
    </p>
</div>
{% endblock %}