{% extends 'core/base.html'%}
{% load static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="{% static 'zuk11.jpg' %}" alt="Zukisa Dyantyi" style="max-height: 300px; width: 500px; border-radius: 50%; margin-bottom: 20px;" />
        <div>
            <p style="margin-bottom: 10px; text-align: center">

                Thank you for visiting my professional personal website. My name is Zukisa Dyantyi, and I have achieved a BSc (Honours) degree in Computer Science from the University of The Western Cape.
                As a diligent and driven individual, I am committed to embracing change and continuously improving myself.
                I derive immense satisfaction from problem-solving and actively seek opportunities to engage in diverse projects.
                This pursuit enables me to acquire new skills and collaborate effectively with diverse teams, fostering an environment of learning and professional growth.
            </p>

            <h1 style="margin-bottom: 10px; font-weight: bold; text-align: center;">Programming and Technology</h1>
            <p style="margin-bottom: 10px; text-align: center">
                I have basic experience in various programming languages, including C, Python, SQL, Java, JavaScript, HTML, CSS, and Assembly. I am comfortable working with tools like Raspbian, Visual Studio, Eclipse, and NetBeans. Additionally, I have utilized Business Intelligence tools such as Power BI and Qlik Sense.
            </p>
            <h1 style="margin-bottom: 10px; font-weight: bold; text-align: center;">Technology currently Learning</h1>
            <p style="margin-bottom: 10px; text-align: center">
                At present, I am in the process of acquiring proficiency in several technologies. These include Django web Framework, which was utilized in the development of this website. Additionally, I have embarked on a learning journey to gain a solid understanding of Azure fundamentals and ASP .NET MVC with C#.
            </p>
            <h1 style="margin-bottom: 10px; font-weight: bold; text-align: center;">Project Experience</h1>
            <p style="margin-bottom: 10px; text-align: center">
                I have worked on projects related to Big Data, Internet of Things, <a href="https://cs.uwc.ac.za/honours/2019/zdyantyi/" class="text-red-400">Cyber Security</a>, and Machine Learning. These experiences have allowed me to gain practical knowledge and enhance my skills in these domains.
            </p>

            <h1 style="margin-bottom: 10px; font-weight: bold; text-align: center;">Collaboration and Learning</h1>
            <p style="margin-bottom: 10px; text-align: center">
                I value collaboration and believe that diverse teams yield the best results. I actively seek opportunities to contribute my skills while learning from others. I am dedicated to continuous learning and growth in the ever-evolving field of technology.
            </p>

        </div>
    </div>
</div>
{% endblock %}
